/*header#main-header{
	width: 100vw;
	height: 70px;
	background-color: #50C878;
	font-family: 'Helvetica', sans-serif;
	font-size: 28px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}*/